### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.classpath
.project
.settings/
target/
test-output/
bin/
.idea
*.iml
overlays
*.log

*.zip
*.xml
*.md

.gradle
build/
.DS_Store

*~
.DS_Store
chemical-api/target
.idea
*/target/*
*.json
*.iml
log/*
dependency-reduced-pom.xml
src/main/java/com/owen/vo
src/main/java/chemaxon
src/main/java/com/owen/util
src/main/java/com/owen/service
src/main/java/com/owen/template
src/main/java/com/owen/retry
src/main/java/com/owen/entity
src/main/java/com/owen/dao
src/main/java/com/owen/bo
src/main/java/com/owen/constants
src/main/java/com/owen/other
src/main/java/com/owen/common
BeanConfig.java
SFSRootCAG2.pem
SprintBootApplication.java
CasDataEnpointImpl.java
*.properties
*.html
